.row
  .cols-xs-12
    - if defined? title
      %h1= title
    - else
      %h1 Tell us what you need
.row
  .col-xs-12.jumbotron.contact_us_form
    = form_for :request, url: contact_us_path, method: :post do |f|
      .row
        .input-group
          = f.text_field :email, placeholder: 'Your email address', size: 50, class: 'form-control'
      %br
      .row
        .input-group
          = f.text_area :body, rows: 5, cols: 52, class: 'form-control', placeholder: 'Your message'
      = f.hidden_field :requestor, value: request_from
      %br
      .row
        = f.submit 'Send', class: 'btn btn-primary'

