.row
  .cols-xs-12
    %h1 Tell us what you need
.row
  .col-xs-12.jumbotron.contact_us_form
    = form_for :request, url: contact_us_path, method: :post do |f|
      .row
        .input-group
          %span.input-group-addon @
          = f.text_field :email, placeholder: 'Email', size: 50, class: 'form-control'
      %br
      .row
        .input-group
          = f.text_area :body, rows: 5,cols:80, class: 'form-control'
      = f.hidden_field :requestor, value: request_from
      %br
      .row
        = f.submit 'Send', class: 'btn-primary'

