.container
  .row
    .col-xs-12.page-header
      %h1 Projects
      %p A total of 8 projects were considered for the program and 4 were shortlisted and seated based on best fit between learning outcomes and development outcomes:
      %ul
        %li
          %a{href: '#d2dd'}Door 2 Door Doctor
        %li
          %a{href: '#fastpr'}FastPR
        %li
          %a{href: '#magicbeans'}MagicBeans
        %li
          %a{href: '#skillcounter'}SkillCounter


  .row.project
    .col-xs-12
      = image_tag 'd2dd-logo-small.png', class: 'pull-right'

      %h3#d2dd
        Door2DoorDoctor
        %small Health Care at Your Doorstep

      %p We specialize in the provision of services make dealing with medical issues a little more easier by providing high quality customized services ranging from Non-Emergency Transportation, Consultation, Doctor House Calls to provision of Physio sessions at home and even Confinement lady services.
  .row.students
    .col-xs-4
      = render 'static_pages/breena'
      = render 'static_pages/grace'
      = render 'static_pages/chinloong'


    .col-xs-4
      = render 'static_pages/enson'  
      = render 'static_pages/marco'  

    .col-xs-4
      = render 'static_pages/tony'
      = render 'static_pages/rayson'

  .row.project
    .col-xs-12
      = image_tag 'fastpr-logo-small.png', class: 'pull-right'

      %h3#fastpr
        FastPR
        %small

      %p FastPR is designed to allow people to make contact with members of the Press easily, by building a comprehensive list of contacts. This will allow it to become a one-stop-centre for finding the right members of the press to cover your business, event, or other notable matters.


  .row.students
    .col-xs-4
      = render 'static_pages/shazwan'
      = render 'static_pages/itah'

    .col-xs-4
      = render 'static_pages/ain'
      = render 'static_pages/tqah'

    .col-xs-4
      = render 'static_pages/ben'
      = render 'static_pages/tahfiz'

  .row.project
    .col-xs-12
      = image_tag 'skillcounter.png', class: 'pull-right'

      %h3#skillcounter
        Skillcounter
        %small CPD made easy

      %p An online CPD management for the Malaysian Veterinary Council.Skillcounter allows the MVC to manage it's CPD events and monitor their members' progress through a simple online interface that tracks their members' points accumulation, license redemptions and event attendances.

  .row.students
    .col-xs-4
      = render 'static_pages/leo'
      = render 'static_pages/deric'

    .col-xs-4
      = render 'static_pages/safwan'

      = render 'static_pages/mattheaw'

  .row.project
    .col-xs-12
      = image_tag 'magicbeans.png', class: 'pull-right'

      %h3#magicbeans
        Social Media Publishing 
        %small 

      %p An in house social media publishing platform for Magic to keep track of their events’ social media presence. The app aims to allow Magic admins to have one-click actions to publish and share their events via social media outlets including Twitter, Facebook, and email blasts to mailing lists.

  .row.students
    .col-xs-4
      = render 'static_pages/prasanth'

      = render 'static_pages/azri'
    .col-xs-4
      = render 'static_pages/imran'

      = render 'static_pages/jeva'

    .col-xs-4
      = render 'static_pages/adrian'

.modal.fade#profile{role: :dialog, "aria-hidden" => :true}
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        %button{:type => :button, :class => :close, "data-dismiss" => :modal}
          %span{"aria-hidden" => :true} &times;
          %span.sr-only Close
        %h4.modal-title Profile
      .modal-body
      .modal-footer

%br.clearfix